POSTGRES_DB=NextStep
POSTGRES_USER=john
POSTGRES_PASSWORD=john@123

DB_ENGINE=django.db.backends.postgresql
DB_HOST=database
DB_PORT=5432
DB_NAME=${POSTGRES_DB}
DB_USER=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}

PGADMIN_DEFAULT_EMAIL=john.doe@example.com
PGADMIN_DEFAULT_PASSWORD=john@123

NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_SERVER_API_URL=http://django:8000/api

EMAIL_HOST="smtp-server"
EMAIL_PORT="1025"
FE_HOST_URL=http://localhost:3000
BE_HOST_URL=http://localhost:8000
